{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policy List</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 12px;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .policy-name {
            background-color: #d9edf7;
            font-weight: bold;
            text-align: center;
        }
        .highlight-green {
            background-color: #48ff00;
        }
        .highlight-red {
            background-color: #ff0000;
        }
        .highlight-blue {
            background-color: #00aaff;
        }
    </style>
</head>
<body>
    <h1>Policy List</h1>
    <table id="policy-table">
        <thead>
            <tr>
                <th>Setting</th>
                {% for policy in policies %}
                    {% if policy.platform_name == "Windows" %}
                        <th>{{ policy.name }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for setting_name in setting_names %}
            <tr>
                <td>{{ setting_name }}</td>
                {% for policy in policies %}
                    {% if policy.platform_name == "Windows" %}
                        <!-- <td> -->
                            {% for setting in policy.settings.all %}
                                {% if setting.name == setting_name %}
                                    {% with recommendation=settings_recommendations|get_item:setting_name %}
                                        {% if recommendation == 'Enabled' %}
                                            {% if setting.value == 'True' %}
                                            <td class="highlight-green">
                                                <span>{{ setting.value }}</span>
                                            </td>
                                            {% else %}
                                            <td class="highlight-red">
                                                <span>{{ setting.value }}</span>
                                            </td>
                                            {% endif %}
                                        {% elif recommendation == 'Disabled' %}
                                            {% if setting.value == 'False' %}
                                            <td class="highlight-green">
                                                <span>{{ setting.value }}</span>
                                            </td>
                                            {% else %}
                                            <td class="highlight-red">
                                                <span>{{ setting.value }}</span>
                                            </td>
                                            {% endif %}
                                        {% elif recommendation == 'Customer preference' %}
                                        <td class="highlight-blue">
                                            <span>{{ setting.value }}</span>
                                        </td>
                                        {% else %}
                                        <td>
                                            <span>{{ setting.value }}</span>
                                        </td>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        <!-- </td> -->
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#policy-table').DataTable({
                "paging": false,
                "searching": false,
                "ordering": true,
                "info": false
            });
        });
    </script>
</body>
</html>
