{% extends 'main/base.html' %}
{% load static %}
  {% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">{{device.hostname}}</h1>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<!-- <table id="datatables-reponsive" class="table table-striped" style="width:100%">
										<thead>
											<tr>
												<th>Hostname</th>
												<th>OS Platform</th>
												<th>Endpoint Type</th>
												<th>Created At</th>
											</tr>
										</thead>
										<tbody>
											{% for endpoint in endpoint_list %}
											<tr>
												{% for data in endpoint %}
													<td>{{data}}</td>
												{% endfor %}
											</tr>
											{% endfor %}
										</tbody>
									</table> -->
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
			{% endblock %}
</body>
</html>