{% extends 'main/base.html' %}
{% load static %}
  {% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Master List of Endpoints</h1>
					</div>

					<div class="row">
						<div class="col-12">
							<!-- <div class="alert alert-warning alert-dismissible" role="alert">
								<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
								<div class="alert-message">
									<h4 class="alert-heading">jQuery required</h4>
									<p>
										Unlike all other components included in this template, DataTables requires jQuery as a dependency. If you want to use
										DataTables in your application, add the following script element to your HTML code. The file includes both jQuery and
										DataTables.
									</p>
									<pre class="h6 text-danger mb-0">&#x3C;script src=&#x22;js/datatables.js&#x22;&#x3E;&#x3C;/script&#x3E;</pre>
								</div>
							</div> -->
							<div class="card">
								<div class="card-body">
									<table id="datatables-reponsive" class="table table-striped" style="width:100%">
										<thead>
											<tr>
												<th>Hostname</th>
												{% for integration in enabled_integrations %}
													<th>{{integration.integration_type_short}}</th>
												{% endfor %}
											</tr>
										</thead>
										<tbody>
											{% for endpoint in endpoint_list %}
											<tr>
												{% for check in endpoint %}
													{% if check == True %}
														<td><i class="fa fa-check-circle text-success"></i></td>
													{% elif check == False %}
														<td><i class="fa fa-exclamation-circle text-danger"></i></td>
													{% else %}
														<td>{{check}}</td>
													{% endif %}
												{% endfor %}
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
			{% endblock %}
</body>

</html>