{% extends 'main/base.html' %}
{% load static %}
  {% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Settings</h1>

					<div class="row">
						<div class="col-md-3 col-xl-2">
							<div class="card">
								<div class="list-group list-group-flush" role="tablist">
									<div class="card-header bg-secondary">
										<h5 class="card-title text-white mb-0">Profile Settings</h5>
									</div>
									<a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account" role="tab">
										Account
									</a>
									<!-- <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#password" role="tab">
										Password
									</a>
									<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
										Privacy and safety
									</a>
									<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
										Email notifications
									</a>
									<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
										Web notifications
									</a> -->
									<div class="card-header bg-secondary">
										<h5 class="card-title text-white warning mb-0">System Settings</h5>
									</div>
									<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#compliance-settings" role="tab">
										Compliance Settings
									</a>
									<!-- <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
										Your data
									</a>
									<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
										Delete account
									</a> -->
								</div>

								
							</div>
						</div>

						<div class="col-md-9 col-xl-10">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="account" role="tabpanel">
									<div class="card">
										<div class="card-header">
											<h5 class="card-title mb-0">Profile Info</h5>
										</div>
										<div class="card-body">
											<form action="" method="post">
												<div class="row">
													<div class="mb-3 col-md-6">
														<label class="form-label" for="inputFirstName">First name</label>
														<input type="text" class="form-control" id="inputFirstName" name=first_name placeholder="First name" value="{{request.session.firstName}}" disabled>
													</div>
													<div class="mb-3 col-md-6">
														<label class="form-label" for="inputLastName">Last name</label>
														<input type="text" class="form-control" id="inputLastName" name="last_name" placeholder="Last name" value="{{request.session.lastName}}" disabled>
													</div>
												</div>
												<div class="mb-3">
													<label class="form-label" for="inputEmail4">Email</label>
													<input type="email" class="form-control" id="inputEmail4" name="email_address" placeholder="Email" value="{{request.session.email}}" disabled>
												</div>
												<button type="submit" class="btn btn-primary" disabled>Save Changes</button>
											</form>

										</div>
									</div>
								</div>
								<div class="tab-pane fade show" id="compliance-settings" role="tabpanel">
									<div class="card">
										<div class="card-header">

											<h5 class="card-title mb-0">Compliance Settings</h5>
										</div>
										<div class="card-body">
											<form action="" method="post">
												{% for setting in settings %}
												<div>
													<label class="form-check form-check-inline">
														<!-- <input class="form-check-input" type="checkbox" value="option1"> -->
														<span class="form-check-label">
															{{setting.0}} Devices
														</span>
													</label>
													<label class="form-check form-check-inline">
														{% if setting.1.0 == 1 %}
														<input class="form-check-input" type="checkbox" name="CrowdStrike-Falcon" value="True" checked>
														{% else %}
														<input class="form-check-input" type="checkbox" name="CrowdStrike-Falcon" value="False">
														{% endif %}
														<span class="form-check-label">
															CrowdStrike Falcon
														</span>
													</label>
													<label class="form-check form-check-inline">
														{% if setting.1.1 == 1 %}
														<input class="form-check-input" type="checkbox" name="Microsoft-Defender-for-Endpoint" value="True" checked>
														{% else %}
														<input class="form-check-input" type="checkbox" name="Microsoft-Defender-for-Endpoint" value="False">
														{% endif %}
														<span class="form-check-label">
															Microsoft Defender for Endpoint
														</span>
													</label>
													<label class="form-check form-check-inline">
														{% if setting.1.2 == 1 %}
														<input class="form-check-input" type="checkbox" name="Microsoft-Entra-ID" value="True" checked>
														{% else %}
														<input class="form-check-input" type="checkbox" name="Microsoft-Entra-ID" value="False">
														{% endif %}
														<span class="form-check-label">
															Microsoft Entra ID
														</span>
													</label>
													<label class="form-check form-check-inline">
														{% if setting.1.3 == 1 %}
														<input class="form-check-input" type="checkbox" name="Microsoft-Intune" value="True" checked>
														{% else %}
														<input class="form-check-input" type="checkbox" name="Microsoft-Intune" value="False">
														{% endif %}
														<span class="form-check-label">
															Microsoft Intune
														</span>
													</label>
													<label class="form-check form-check-inline">
														{% if setting.1.4 == 1 %}
														<input class="form-check-input" type="checkbox" name="Sophos-Central" value="True" checked>
														{% else %}
														<input class="form-check-input" type="checkbox" name="Sophos-Central" value="False">
														{% endif %}
														<span class="form-check-label">
															Sophos Central
														</span>
													</label>
													<label class="form-check form-check-inline">
														{% if setting.1.5 == 1 %}
														<input class="form-check-input" type="checkbox" name="Qualys" value="True" checked>
														{% else %}
														<input class="form-check-input" type="checkbox" name="Qualys" value="False">
														{% endif %}
														<span class="form-check-label">
															Qualys
														</span>
													</label>
												</div>
												<br>
												{% endfor %}
												<button type="submit" class="btn btn-primary" disabled>Save Changes</button>
											</form>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
            {% endblock %}
</body>
</html>