{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Master List of User Authentication</h1>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Filter Dropdown -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="highest-auth-strength-filter">Filter by Highest Authentication Strength:</label>
                                <select id="highest-auth-strength-filter" class="form-control" multiple="multiple">
                                    {% for auth_strength in auth_strengths %}
                                    <option value="{{ auth_strength }}">{{ auth_strength }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="lowest-auth-strength-filter">Filter by Lowest Authentication Strength:</label>
                                <select id="lowest-auth-strength-filter" class="form-control" multiple="multiple">
                                    {% for auth_strength in auth_strengths %}
                                    <option value="{{ auth_strength }}">{{ auth_strength }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="persona-filter">Filter by Persona:</label>
                                <select id="persona-filter" class="form-control" multiple="multiple">
                                    {% for persona in personas %}
                                    <option value="{{ persona }}">{{ persona }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <table id="datatables-responsive" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>UPN</th>
                                    <th>Persona</th>
                                    <th>Created At</th>
                                    <th>Last Sign-on</th>
                                    <th>Highest Authentication Strength</th>
                                    <th>Lowest Authentication Strength</th>
                                    <th>Passkey</th>
                                    <th>MS Auth Passkey</th>
                                    <th>WHfB</th>
                                    <th>MS Auth Phone Sign-in</th>
                                    <th>MS Auth</th>
                                    <th>OTP</th>
                                    <th>TAP</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Sec. Qs</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in user_list %}
                                <tr>
                                    {% for check in user %}
                                    {% if check == True %}
                                    <td class="text-success">&#9989;</td>
                                    {% elif check == False %}
                                    <td class="text-danger">&#10060;</td>
                                    {% elif check == None %}
                                    <td class="text-danger">&#10060;</td>
                                    {% else %}
                                    <td><a href="/device/{{check.id}}">{{check.upn}}</a></td>
                                    <td>{{check.persona}}</td>
                                    <td>{{check.created_at_timestamp}}</td>
                                    <td>{{check.last_logon_timestamp}}</td>
                                    <td>{{check.highest_authentication_strength}}</td>
                                    <td>{{check.lowest_authentication_strength}}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
<!-- Include jQuery first -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Select2 CSS and JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<!-- Include DataTables CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<!-- Include DataTables Buttons extension CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<!-- <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Initialize Select2 for multi-select dropdown
        $('#highest-auth-strength-filter').select2({
            placeholder: "Select Authentication Strengths(s)",
            allowClear: true
        });
        $('#lowest-auth-strength-filter').select2({
            placeholder: "Select Authentication Strengths(s)",
            allowClear: true
        });
        $('#persona-filter').select2({
            placeholder: "Select Persona(s)",
            allowClear: true
        });

        // Datatables Responsive
        var table = $("#datatables-responsive").DataTable({
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'pdfHtml5',
                'print'
            ],
            columnDefs: [
                {
                    targets: [4, 5], // Index of the hidden column
                    visible: false
                }
            ]
        });

        // Apply the filters
        function applyFilters() {
            var selectedHighestAuthStrengths = $('#highest-auth-strength-filter').val();
            var selectedLowestAuthStrengths = $('#lowest-auth-strength-filter').val();
            var selectedPersonas = $('#persona-filter').val();

            var highestAuthStrengthRegex = selectedHighestAuthStrengths ? selectedHighestAuthStrengths.join('|') : '';
            var lowestAuthStrengthRegex = selectedLowestAuthStrengths ? selectedLowestAuthStrengths.join('|') : '';
            var personaRegex = selectedPersonas ? selectedPersonas.join('|') : '';

            table
                .column(4).search(highestAuthStrengthRegex, true, false)
                .column(5).search(lowestAuthStrengthRegex, true, false)
                .column(1).search(personaRegex, true, false) // Assuming Persona is in column 1
                .draw();
        }

        $('#highest-auth-strength-filter').on('change', applyFilters);
        $('#lowest-auth-strength-filter').on('change', applyFilters);
        $('#persona-filter').on('change', applyFilters);
    });
</script>
{% endblock %}
