[Unit]
Description=Tier Zero Code
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
WorkingDirectory=/root/tierzerocode/
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash run.sh start

[Install]
WantedBy=multi-user.target